body {
    margin: 0;
    box-sizing: border-box;
}

#nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: cadetblue;
}
#nav div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20vh;
    height: 30px;
    border: 2px solid darkgray;
}

#nav div a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    text-decoration: none;
    font-family: Calibri;
    font-size: 18px;
    text-transform: uppercase;
}

#basket {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    z-index: -1;
    background-color: peachpuff;
}
#basket > div {
    position: absolute;
    height: 30px;
    margin: auto;
    line-height: 30px;
    font-family: Calibri;
    text-align: center;
    background-color: grey;
}
#buy {
    top: 100px;
    width: 45%;

}
#clear{
    right: 0;
    top: 100px;
    width: 45%;
}
#price {
    top: 140px;
    width: 100%;

}

